@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&family=Rubik:wght@400;500;700&display=swap");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
  --font-rubik: "Rubik Wet Paint", serif;

  --primary-bg-color: #212426;
  --primary-txt-color: #f9d3b4;
  --primary-shadow-color: #0000001a;
  --secondary-bg-color: #343739;
  --secondary-txt-color: #f0f0f0;
  --secondary-shadow-color: #1c1d1f;
  --tertiary-bg-color: #1f2123;
  --tertiary-shadow-color: #222527;
  --tertiary-txt-color: #a1a1a1;

  /* TODO COLOR TESTING */

  /* 
  --primary-bg-color: #212426;
  --primary-txt-color: #fcbf49;
  --primary-shadow-color: #0000001a;
  --secondary-bg-color: #343739;
  --secondary-txt-color: #f0f0f0;
  --secondary-shadow-color: #1c1d1f;
  --tertiary-bg-color: #1f2123;
  --tertiary-shadow-color: #222527;
  --tertiary-txt-color: #a1a1a1; 
  */
}

body {
  font-family: var(--font-roboto);
  background-color: var(--primary-bg-color);
}

.app {
  padding: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
  /* letter-spacing: 0.9px; */
  color: var(--primary-txt-color);
  width: fit-content;
  cursor: pointer;
  font-family: var(--font-rubik);
  letter-spacing: 3px;
}

.search {
  width: 71%;
  margin: 4rem 0 2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1.5rem 1.75rem;
  border-radius: 3rem;
  background: var(--tertiary-bg-color);
  -webkit-box-shadow: 5px 5px 7px var(--secondary-shadow-color),
    -5px -5px 7px var(--tertiary-shadow-color);
  box-shadow: 5px 5px 7px var(--secondary-shadow-color),
    -5px -5px 7px var(--tertiary-shadow-color);
}

.search input {
  flex: 1;
  border: none;
  font-size: 1.5rem;
  font-family: var(--font-raleway);
  font-weight: 500;
  padding-right: 1rem;

  outline: none;
  color: var(--tertiary-txt-color);
  background: var(--tertiary-bg-color);
}

.search img {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.empty {
  width: 100%;
  margin-top: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.empty h2 {
  font-size: 1.25rem;
  color: var(--primary-txt-color);
  font-family: var(--font-raleway);
}
.loading {
  color: var(--primary-txt-color);
}

.container {
  width: 100%;
  margin-top: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;
}

.movie {
  width: 310px;
  height: 460px;
  margin: 1.5rem;

  position: relative;
  border-radius: 12px;
  overflow: hidden;
  border: none;

  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px var(--primary-shadow-color);
}

.movie div:nth-of-type(1) {
  position: absolute;
  padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
  color: var(--primary-txt-color);
}

.movie:hover {
  box-shadow: 0px 30px 18px -8px var(--primary-shadow-color);
  transform: scale(1.05, 1.05);
}

.movie div:nth-of-type(2) {
  width: 100%;
  height: 100%;
}

.movie div:nth-of-type(2) img {
  height: 100%;
  width: 100%;
}

.movie div:nth-of-type(3) {
  z-index: 2;
  background-color: var(--secondary-bg-color);
  padding: 16px 24px 24px 24px;

  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.movie div:nth-of-type(3) span {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: var(--secondary-txt-color);
}

.movie div:nth-of-type(3) h3 {
  margin-top: 5px;
  font-family: "Roboto Slab", serif;
  color: var(--primary-txt-color);
}

.movie:hover div:nth-of-type(2) {
  height: 100%;
  opacity: 0.3;
}

.movie:hover div:nth-of-type(3) {
  background-color: transparent;
}

.movie:hover div:nth-of-type(1) {
  opacity: 1;
}

.footer {
  color: var(--primary-txt-color);
  margin-top: 2.5rem;
  padding: 1.5rem;
  background-color: var(--secondary-bg-color);
  width: 100%;
  border-radius: 0.5rem;
  text-align: center;
}

.footer-link {
  color: var(--secondary-txt-color);
  text-decoration: none;
}

.icon {
  color: var(--secondary-txt-color) !important;
  font-size: 20px;
  margin-right: 15px;
  margin-top: 10px;
  color: var(--primary-txt-color);
}

@media screen and (max-width: 600px) {
  .app {
    padding: 4rem 2rem;
  }

  .search {
    padding: 1rem 1.75rem;
    width: 100%;
  }

  .search input {
    font-size: 1rem;
  }

  .search img {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 414px) {
  .app {
    padding: 4rem 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  .container {
    margin-top: 2rem;
  }

  .movie {
    width: "100%";
    margin: 1rem;
  }
  .icon {
    font-size: 18px;
    margin-right: 14px;
    margin-top: 7px;
  }
}
